Facturas_PDF_v1.0_20230323/Microsoft.Flow/flows/f3a9239a-b9fc-418d-b05e-48174bed9683/definition.json
{"name":"8187cad1-bb3c-4dce-a0d1-e5ac91725b6c","id":"/providers/Microsoft.Flow/flows/8187cad1-bb3c-4dce-a0d1-e5ac91725b6c","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Procesa Facturas PDF","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"dfba4765-f127-488c-8cd4-9e26fae44c68","type":"User","tenantId":"f36da4f6-5ddf-4797-a3ca-fd05a19832ab"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-03-22T21:45:32.0449882Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Cuando_se_crea_un_archivo":{"recurrence":{"frequency":"Minute","interval":1},"metadata":{"b!_tbckSUo10Sx6PPr24pVpHTi1mVFA3lDja1cxQBKS5Vkok9UIHNZR7FXGEoB0vxG.01C57UU4Z4NIKFHOCDVFG3A43IA6HJ673P":"/01 Entradas","operationMetadataId":"ee0c5099-173f-4591-9667-af6a2801e3ad"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"OnNewFileV2"},"parameters":{"folderId":"b!_tbckSUo10Sx6PPr24pVpHTi1mVFA3lDja1cxQBKS5Vkok9UIHNZR7FXGEoB0vxG.01C57UU4Z4NIKFHOCDVFG3A43IA6HJ673P","includeSubfolders":false,"inferContentType":true},"authentication":"@parameters('$authentication')"}}},"actions":{"Predecir":{"runAfter":{},"metadata":{"operationMetadataId":"18c5b9fb-8bb1-423c-84d9-b60ccc71d545","flowSystemMetadata":{"portalOperationId":"aibuilderpredict","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict"},"parameters":{"recordId":"5ee2c0ef-9263-40fd-aa90-b9b7b3d2eeed","item/requestv2/mimeType":"application/pdf","item/requestv2/base64Encoded":"@triggerOutputs()?['body']","item/requestv2/pages":"1-100"},"authentication":"@parameters('$authentication')"}},"Aplicar_a_cada_uno":{"foreach":"@outputs('Predecir')?['body/responsev2/predictionOutput/tables/TABLA_0050a30ea04d913041ffe0e38899712a69/entries']","actions":{"Condición":{"actions":{"Agregar_una_fila_a_una_tabla":{"runAfter":{},"metadata":{"01C57UU45ZNKQY3HMQW5DLXFKO6KQZQAJU":"/Registro.xlsx","operationMetadataId":"f1eda74c-f34e-46cb-8d96-a395dcf4e92f","tableId":"{BB3EEBB2-D9BE-4FB4-B3B3-8B34D4D4213A}","01C57UU43YFVZLA3TMQNHLKGNR5KCV27CW":"/Registro.xlsx","01C57UU45ZFODNIXSQOVAIWSUBDVMCHUBR":"/Registros.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"me","drive":"b!_tbckSUo10Sx6PPr24pVpHTi1mVFA3lDja1cxQBKS5Vkok9UIHNZR7FXGEoB0vxG","file":"01C57UU45ZFODNIXSQOVAIWSUBDVMCHUBR","table":"{BB3EEBB2-D9BE-4FB4-B3B3-8B34D4D4213A}","item/Fecha_Creacion":"@formatDateTime(utcNow(), 'yyyy-MM-dd')","item/Nombre_Archivo":"@{items('Aplicar_a_cada_uno')?['PVT/value']}_@{outputs('Predecir')?['body/responsev2/predictionOutput/labels/CBOL/value']}_@{triggerOutputs()?['headers/x-ms-file-name-encoded']}","item/Fecha_Servicio":"@outputs('Predecir')?['body/responsev2/predictionOutput/labels/FECHA/value']","item/PVT":"@items('Aplicar_a_cada_uno')?['PVT/value']","item/CBOL":"@outputs('Predecir')?['body/responsev2/predictionOutput/labels/CBOL/value']","item/Nombre_Cliente":"@outputs('Predecir')?['body/responsev2/predictionOutput/labels/CLIENTE/value']","item/Direccion":"@outputs('Predecir')?['body/responsev2/predictionOutput/labels/DIRECCION/value']","item/Codigo_Articulo":"@items('Aplicar_a_cada_uno')?['CODIGO_06afcf28a8f364e21a7958ee1f2a16179/value']","item/Descripcion":"@items('Aplicar_a_cada_uno')?['DESCRIPCION/value']","item/Modelo":"@items('Aplicar_a_cada_uno')?['MODELO/value']","item/Serie":"@items('Aplicar_a_cada_uno')?['SERIE/value']","item/Fecha_Creacion_Firma":"@outputs('Predecir')?['body/responsev2/predictionOutput/labels/FECHA_001f4e5582bd09da64967385240854aacf/value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Establecer_variable_2":["Succeeded"]},"expression":{"greater":["@length(trim(variables('ValorSerie')))",0]},"metadata":{"operationMetadataId":"83abd48f-9175-4b56-a60f-228e30f8e5bd"},"type":"If"},"Establecer_variable":{"runAfter":{},"metadata":{"operationMetadataId":"4c28dcd1-2ee3-47b5-bbf0-dc1e24713fd7"},"type":"SetVariable","inputs":{"name":"ValorSerie","value":"@items('Aplicar_a_cada_uno')?['SERIE/value']"}},"Establecer_variable_2":{"runAfter":{"Establecer_variable":["Succeeded"]},"metadata":{"operationMetadataId":"f40c8b2a-8242-4963-a002-8954d1738823"},"type":"SetVariable","inputs":{"name":"ValorPVT","value":"@items('Aplicar_a_cada_uno')?['PVT/value']"}}},"runAfter":{"Inicializar_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"68ae0ed0-0386-43ca-a370-c855d9a39dbe"},"type":"Foreach"},"Inicializar_variable":{"runAfter":{"Predecir":["Succeeded"]},"metadata":{"operationMetadataId":"c97d5ea1-26b4-4ac8-8fff-fd81191b30b2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ValorSerie","type":"string"}]}},"Inicializar_variable_2":{"runAfter":{"Inicializar_variable":["Succeeded"]},"metadata":{"operationMetadataId":"53fdd29e-8c42-4ce0-a65d-0447ed46cf59"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ValorPVT","type":"string"}]}},"Eliminar_archivo":{"runAfter":{"Crear_archivo":["Succeeded"]},"metadata":{"operationMetadataId":"819fdeb3-2fb7-4c1d-b387-45b906bd584b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"DeleteFile"},"parameters":{"id":"@triggerOutputs()?['headers/x-ms-file-id']"},"authentication":"@parameters('$authentication')"}},"Crear_archivo":{"runAfter":{"Crear_archivo_Pre-Conversion":["Succeeded"]},"metadata":{"operationMetadataId":"d8f40b0f-522e-42b4-bfd0-f7371ee5f1b1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/03 Salidas","name":"@{variables('ValorPVT')}_@{outputs('Predecir')?['body/responsev2/predictionOutput/labels/CBOL/value']}_@{triggerOutputs()?['headers/x-ms-file-name-encoded']}","body":"@triggerOutputs()?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Crear_archivo_Pre-Conversion":{"runAfter":{"Aplicar_a_cada_uno":["Succeeded"]},"metadata":{"operationMetadataId":"e2f1efa4-f722-43da-ac04-6282469e8faf"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/02 Procesados","name":"@triggerOutputs()?['headers/x-ms-file-name-encoded']","body":"@triggerOutputs()?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"outputs":{}},"connectionReferences":{"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-0e63fc0c-38ac-4a13-82ca-6d898336f82c","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-cb314d4f-f5aa-4a1d-b36f-16a89219b5f3","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-864a2479-5624-411e-949e-cfd2cf177a2b","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}